body {
    margin: 0;
    background: burlywood;
    text-align: center;
    font-family: 'Consolas', monospace;
}

.wrapper {
    margin-right: auto; /* 1 */
    margin-left: auto; /* 1 */
    max-width:1160px; /* 2 */
    padding-right: 10px; /* 3 */
    padding-left: 10px; /* 3 */
    }